include partials/header.pug

.container.mt-5
    table.table
        select#select-role.form-control.form-group 
            each role in all
                option(value=role.name.replace(/ /g,'')) #{role.name}
        thead
            tr.theader
                th Critical Indicator
                th Performance Dimension
                th Standard Deviation
                th Accepted
        tbody
            each role in all 
                each ci in role.criticalIndicator
                    each pd in ci.performanceDimension
                        tr(class = "tr-" + role.name.replace(/ /g,''))
                            if (pd.arrayOfScale.length > 1)
                                td #{ci.description} 
                                td #{pd.description}
                                td #{math.round(math.std(pd.arrayOfScale), 3)}
                                if (math.round(math.std(pd.arrayOfScale), 3) > 1.5)
                                    td.alert.alert-danger not accepted
                                else 
                                    td.alert.alert-success accepted


                                
            
script.
    $("#select-role").change(function() {
        selectedRole = ($("#select-role option:selected").val());
        $('tr').not('.tr-' + selectedRole).css('display','none');
        $('.tr-' + selectedRole).css('display','');
        $('.theader').css('display','');
    }).trigger("change")

include partials/footer.pug
